[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ADPF"]
	path = ADPF
	url = https://github.com/cran/ADPF
	shallow = true
	registered = true
